.mycard
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: aqua;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    height: 200px;
}

.is-first
{
    background-color: red;
}
/* [class.is-first]="isFirst"
                    [class.is-Last]="isLast"
                    [class.is-Even]="isEven"
                    [class.is-Odd]="isOdd" */

.multi-get-params-card
{
    border-radius: 20px;
    
}