
<div style="display: flex; align-items: center; justify-content: center;">
    <!-- <mat-card appearance="outlined" style="width:fit-content">
        <mat-card-title>
            NASA Image of the Day
        </mat-card-title>
        <mat-card-content>
            <img mat-card-md-image src="https://www.nasa.gov/sites/default/files/thumbnails/image/edu_what_is_nasa_emblem.jpg">
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="viewApiService()">
                View API
            </button>
        </mat-card-actions>
    </mat-card> -->
    <!-- <app-api-card (api_Selected)="viewApiService($event)" title="Nasa Image of the day"></app-api-card> -->
    
    <app-api-card *ngFor="let api of openApis;
                    index as i;
                    first as isFirst;
                    last as isLast;
                    even as isEven;
                    odd as isOdd;
                    "
                    [title]="api?.name"
                    [category]="api?.category"
                    (api_Selected)="viewApiService($event)"
                    [class.is-First]="isFirst"
                    [class.is-Last]="isLast"
                    [class.is-Even]="isEven"
                    [class.is-Odd]="isOdd"
                    [multiParamselect]="api.multiparamSelect"

                     >

    </app-api-card>


</div>



