
<div style="display: flex; align-items: center; justify-content: center;">
    <!-- <mat-card appearance="outlined" style="width:fit-content">
        <mat-card-title>
            NASA Image of the Day
        </mat-card-title>
        <mat-card-content>
            <img mat-card-md-image src="https://www.nasa.gov/sites/default/files/thumbnails/image/edu_what_is_nasa_emblem.jpg">
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="viewApiService()">
                View API
            </button>
        </mat-card-actions>
    </mat-card> -->
    <div class="mycard">
        <p>NASA Image of the Day</p>
        <img width="100" height="100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/NASA_logo.svg/2449px-NASA_logo.svg.png"/>
        <button mat-raised-button color="primary" (click)="viewApiService()">View</button>
    </div>
    
</div>



